<div class="container w-75" style="padding-top: 88px; height: 82vh;">
  <h1>My bookings</h1>
  <% if @bookings.empty? %>
    <div class="d-flex align-items-center justify-content-center pb-10 pt-10">
      <p class="text-secondary">You made no bookings yet.</p>
    </div>
  <% else %>
    <% @bookings.each do |booking| %>

      <div class="card-booking d-flex w-100">
        <div>
          <%= cl_image_tag booking.garden.photos.first.key, height: 200, width: 200, crop: :fill %>
        </div>

        <div class="card-booking-infos d-flex flex-column w-100">
          <div>
            <h3><%= link_to booking.garden.title, garden_path(booking.garden) %></h3>
            <p> <%= "Stayed here: #{booking.start_date} - #{booking.end_date}" %></p>
            <p>Price: <%= booking.total_price %> €</p>
          </div>
          <div>
            <% if booking.review.nil? %>
              <!--<#% if booking.end_date < Date.today %>-->
                <%= link_to 'Leave a review', new_booking_review_path(booking), class: "button" %>
              <!-- <#% end %> -->
            <% else %>
              <span class="review">Your review</span>
              <p><%= '⭐' * booking.review.rating %></p>
              <p><%= booking.review.content %></p>

            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>



