<div class="container w-75" style="padding-top: 80px;">
  <h1 class="font-weight-bold mb-5">My bookings</h1>
  <% if @bookings.empty? %>
    <div class="d-flex align-items-center justify-content-center pb-10 pt-10">
      <p class="text-secondary">You made no bookings yet.</p>
    </div>
  <% else %>
    <% @bookings.each do |booking| %>
      <div class="d-flex bd-highlight mb-3">
        <div class="bd-highlight">
          <div class="col-sm-6">
            <%= cl_image_tag booking.garden.photos.first.key, height: 150, width: 200, crop: :fill %>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <h2><%= link_to booking.garden.title, garden_path(booking.garden) %></h2>
          <p><%= "Stayed here: #{booking.start_date} - #{booking.end_date}" %><br/>
          <%= "Price: #{booking.total_price} €" %></p>
        </div>
        <div class="ml-auto bd-highlight align-items-center justify-content-center">
          <% if booking.review.nil? %>
              <%= link_to 'Leave a review', new_booking_review_path(booking), class: "btn btn-outline-success" %>
          <% else %>
                <strong>Your review, created <%= booking.review.created_at.to_a[3..5].join(". ") %>.</strong>
                <p><%= booking.review.content %></p>
                <%= '⭐' * booking.review.rating %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
