<div class="container w-75">
  <p id="linkback"><%= link_to "Go back to profile", user_path(current_user.first_name) %></p>
  <% if @bookings.empty? %>
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <p class="text-secondary">You made no bookings yet.</p>
        <p style="padding-left: 27px;"><%= link_to "All Gardens", gardens_path(@gardens), class: "button" %><p>
      </div>
    </div>
  <% else %>

  <div class='mt-4'>
    <% @bookings.each do |booking| %>
      <div class="card-booking d-flex w-100">
        <div>
          <%= link_to garden_path(booking.garden) do %>
          <%= cl_image_tag booking.garden.photos.first.key, height: 280, width: 280, crop: :fill %>
          <% end %>
        </div>

        <div class="card-booking-infos d-flex flex-column w-100">
          <div style="padding-left: 8px;">
            <h3><%= link_to booking.garden.title, garden_path(booking.garden) %></h3>
            <p><%= booking.garden.location %></p>
            <p><%= "#{booking.start_date.strftime("%-d. %B, %Y")} - #{booking.end_date.strftime("%-d. %B, %Y")}" %></p>
            <p><%= booking.total_price %> €</p>
          </div>
          <div>
            <% if booking.review.nil? %>
              <% if booking.end_date <= Date.today %>
                <%= link_to 'Leave a review', new_booking_review_path(booking), class: "button" %>
              <% end %>
            <% else %>
              <h6 style ="padding-left: 8px;">You reviewed <%= link_to booking.garden.title, garden_path(booking.garden) %>.</h6>
              <p style="padding-left: 8px;"><%= '★' * booking.review.rating %> <%= booking.review.content[0...100] %>...</p>
              <br>
                <%= link_to 'Edit', edit_review_path(booking.review.id), class: "button", style: 'margin: 8px;' %>
                <%= link_to "Delete", booking.review, class: "button", style: 'margin: 8px;', method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>



