<div class="container w-75" >
  <span id="linkback"><%= link_to "Go back to profile", user_path(current_user) %></span>
  <h1>My bookings <span class="counter"><%= "(#{@bookings.count})" %></span></h1>
  <% if @bookings.empty? %>
    <div class="d-flex align-items-center justify-content-center pt-5 mt-5">
      <p class="text-secondary">You made no bookings yet.</p>
    </div>
  <% else %>

  <div class='mt-5'>
    <% @bookings.each do |booking| %>
      <div class="card-booking d-flex w-100">
        <div>
          <%= link_to garden_path(booking.garden) do %>
          <%= cl_image_tag booking.garden.photos.first.key, height: 180, width: 250, crop: :fill %>
          <% end %>
        </div>

        <div class="card-booking-infos d-flex flex-column w-100 ">
          <div>
            <h3><%= link_to booking.garden.title, garden_path(booking.garden) %></h3>
            <p><%= booking.garden.location %></p>
            <p> <%= "#{booking.start_date.strftime("%-d. %B, %Y")} - #{booking.end_date.strftime("%-d. %B, %Y")}" %></p>
            <p><%= booking.total_price %> €</p>
          </div>
          <div>
            <% if booking.review.nil? %>
              <% if booking.end_date <= Date.today %>
                <%= link_to 'Leave a review', new_booking_review_path(booking), class: "button" %>
              <% end %>
            <% else %>
              <span class="review">Your review</span>
              <p><%= '⭐' * booking.review.rating %></p>
              <p id="fuckopacity"><%= booking.review.content %></p>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>



