<div class="container" style="height: 100vh;">
  <span id="linkback" style="padding-left: 5px padding-top: 12px; font-size: 18px;" ><%= link_to "Back to Search", gardens_path(policy_scope(Garden).order(created_at: :desc))%></span>
  <div style="padding-top: 8px; " class="d-flex justify-content-around;">
    <div>
      <div>
        <%= cl_image_tag @user.photo.key, height: 225, width: 235, crop: :fill, class: "img" %>
      </div>
        <div style="text-align: center; padding-top: 12px; font-size: 18px; ">
          <%= link_to "Edit profile", edit_user_registration_path %>
        </div>
      <div>
        <div style="padding-top: 16px; text-align: center;">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <br>
          <div style="padding-top: 16px; text-align: center; margin-left: 25%; width: 50%;">
            <p><%= @user.short_bio %></p>
          </div>
          <br>
          <% if @user == current_user %>
            <br>
            <div  class="d-flex justify-content-center padding-top: 8px;">
              <%= link_to "My Gardens", my_gardens_gardens_path, class: "button-text button" %>
              <%= link_to "My Bookings", bookings_path, class: "button-text button" %>
            </div>
          <% else %>
            <!-- add here 'send msg / contact user..' -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <% if @user != current_user %>
    <h3>My Gardens (<%= @user.gardens.load.size %>)</h3>
    <% @user.gardens.each do |garden| %>
      <div class='mt-3'>
        <div class="card-booking d-flex w-100">
          <div>
            <%= cl_image_tag garden.photos.first.key, height: 200, width: 300, crop: :fill %>
          </div>
          <div class="card-booking-infos d-flex flex-column w-100 ">
            <h3><%= link_to garden.title, garden_path(garden) %></h3>
            <p>Address: <%= garden.location %> </p>
            <p>Price: <%= garden.price %> € / day</p>
            <p><%= garden.description[0..110] %> ...</p>
            <p class="card-text"><%= garden.avg_rating %> (<%= pluralize garden.reviews.size, "review" %>)</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
