<div class="container w-40" style="height: 73vh;">
  <span id="linkback" style="padding-left: 5px padding-top: 12px;" ><%= link_to "Back to Search", gardens_path(policy_scope(Garden).order(created_at: :desc))%></span>
  <div style ="padding-top:8px" class="d-flex justify-content-center">
    <div>
      <div class="img">
        <%= cl_image_tag @user.photo.key, height: 320, width: 360, crop: :fill, class: "img" %>
      </div>
      <div>
        <div style="padding-top: 12px;">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><%= @user.short_bio %></p>
          <% if @user == current_user %>
            <br>
            <%= link_to "Edit profile", edit_user_registration_path %>
            <br><br>
            <%= link_to "My Gardens", my_gardens_gardens_path %> |
            <%= link_to "My Bookings", bookings_path %>
          <% else %>
            <!-- add here 'send msg / contact user..' -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <% if @user != current_user %>
    <h3>My Gardens (<%= @user.gardens.load.size %>)</h3>
    <% @user.gardens.each do |garden| %>
      <div class='mt-5'>
        <div class="card-booking d-flex w-100">
          <div>
            <%= cl_image_tag garden.photos.first.key, height: 200, width: 300, crop: :fill %>
          </div>
          <div class="card-booking-infos d-flex flex-column w-100 ">
            <h3><%= link_to garden.title, garden_path(garden) %></h3>
            <p>Address: <%= garden.location %> </p>
            <p>Price: <%= garden.price %> € / day</p>
            <p><%= garden.description[0..110] %> ...</p>
            <p class="card-text"><%= garden.avg_rating %> (<%= pluralize garden.reviews.size, "review" %>)</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
