<div class="container">
  <span id="linkback" style="padding-left: 5px padding-top: 12px; font-size: 18px;" ><%= link_to "Back to Search", gardens_path(policy_scope(Garden).order(created_at: :desc))%></span>
  <div style="padding-top: 8px; display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
    <div class="col">
      <%= cl_image_tag @user.photo.key, height: 225, width: 235, crop: :fill, class: "img" %>
      <% if @user == current_user %>
        <div style="text-align: center; padding-top: 12px; font-size: 18px; ">
          <%= link_to "Edit profile", edit_user_registration_path %>
        </div>
      <% end %>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <br>
      <div style="width: 50%;">
        <p><%= @user.short_bio %></p>
      </div>
      <br>
      <% if @user == current_user %>
        <div class="d-flex justify-content-center">
          <%= link_to "My Gardens", my_gardens_gardens_path, class: "button-text button cur_u" %>
          <%= link_to "My Bookings", bookings_path, class: "button-text button cur_u" %>
        </div>
      <% end %>
    </div>
    <% if @user != current_user %>
      <% @user.gardens.each do |garden| %>
        <div class="col">
          <div class="card card-booking d-flex" style="width: 461px; border-radius: 8px; ">
            <div class="card-img-top">
              <%= cl_image_tag garden.photos.first.key, height: 300, width: 460, crop: :fill %>
            </div>
            <div class="card-body card-booking-infos d-flex flex-column w-100 ">
              <h3><%= link_to garden.title, garden_path(garden) %></h3>
              <p>Address: <%= garden.location %> </p>
              <p>Price: <%= garden.price %> € / day</p>
              <p><%= garden.description[0..110] %> ...</p>
              <p class="card-text"><%= garden.avg_rating %> (<%= pluralize garden.reviews.size, "review" %>)</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
