  <div class="banner">
    <div class="container-banner text-center">
      <h1>Rent a garden in Berlin without the hassle!</h1>
      <h2 style="margin-bottom: 2rem;">You do not need to go far to find your perfect garden!</h2>
      <%= link_to "Browse", gardens_path(@gardens), class: "button-text btn-banner" %>
    </div>
  </div>

<div style="padding-bottom: 0;">
  <div class='row justify-content-xl-center card-container'>
    <% @gardens.each do |garden| %>
    <div style="margin: 24px; border-radius: 8px; width: 410px; height: 360px;">
        <div class="card-trip" style="width: 410px; height: 380px">
          <%= link_to garden_path(garden) do %>
            <%= cl_image_tag garden.photos.first.key, height: 230, width: 410, crop: :fill %>
          <% end %>
          <div class="card-trip-infos">
            <div style="margin: 4px;">
              <h2><%= link_to garden.title, garden_path(garden) %></h2>
              <p class="card-text"><%= garden.avg_rating %> (<%= pluralize garden.reviews.size, "review" %>)</p>
              <br>
              <p>Price: €<%= garden.price %> / day</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

