<div class="container">
  <div class="col-4 box" style="width: 50vh; padding-left: 30px; margin-top: 40px;">
    <div style="text-align: center;">
      <h3>Log in to Garden2Rent</h3>
    </div>
    <div class="login" style="padding-top: 12px; padding-bottom: 8px; border-radius: 4px; text-size: 12px;">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="logs" style="padding-bottom: 12px;">
          <div class="form-actions button-log">
            <span><%= f.button :submit, "Log in" %></span>
          </div>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
