<div class="content container">
  <div class='inner-grid'>
    <div>
      <div class="form-inline" style="margin-bottom: 16px;">
        <%= form_tag gardens_path, class: "form-inline", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control m-3",
          placeholder: "Search by location"
          %>
          <%= submit_tag "Search", class: "button button-text m-1" %>
        <% end %>

        <%= link_to "All gardens", gardens_path(@gardens), class: "button button-text m-1" %>

      </div>

      <% if @gardens.empty? %>
        <p> Sorry, no gardens! </p> <!-- write some nice msg here -->
      <% else %>

      <% @gardens.each do |garden| %>
        <div class="card mb-3 card-trip">
          <div class="row">
            <div class="col-md-4">
              <%= link_to garden_path(garden) do %>
                <%= cl_image_tag garden.photos.first.key, height: 184, width: 160, crop: :fill %>
              <% end %>
            </div>
            <div class="col-md-8" style="padding: 12px 24px;">
              <h5 style="margin-top: 12px;"><%= link_to garden.title, garden_path(garden) %></h5>
              <p class="card-text"><%= garden.description[0..72] %> ...</p>
              <p class="card-text"><span style="color: black"> €<%= garden.price %> </span> / day</p>

              <!--
              <#% garden.reviews.count == 1 ? sg_pl = "review" : sg_pl = "reviews" %>
              <p class="card-text"><%#= garden.avg_rating %> (<%#= garden.reviews.count %> <%#= sg_pl %>)</p>
              -->
              <p class="card-text"><%= '⭐' * (3..5).to_a.sample %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div>
      <div id="map"
        style="width: 100%; height: 100vh"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
