<div class="content container">
  <div class='inner-grid'>
    <div>
      <div class="form-inline" style="margin-bottom: 16px; margin-left: 48px;">
        <%= form_tag gardens_path, class: "form-inline", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by location"
          %>
          <%= submit_tag "Search", class: "btn btn-outline-success" %>
        <% end %>
        <%= link_to "All gardens", gardens_path(policy_scope(Garden).order(created_at: :desc)), class: "btn btn-outline-success" %>
      </div>

      <% if @gardens.empty? %>
        <p> Sorry, no gardens! </p> <!-- write some nice msg here -->
      <% else %>

      <% @gardens.each do |garden| %>
        <div class="card mb-3 card-trip">
          <div class="row">
            <div class="col-md-4">
              <%= link_to garden_path(garden) do %>
                <%= cl_image_tag garden.photos.first.key, height: 160, width: 160, crop: :fill %>
              <% end %>
            </div>
            <div class="col-md-8" style="padding: 4px 24px 0 40px;">
              <h6 style="margin-top: 16px;"><%= link_to garden.title, garden_path(garden) %></h6>
              <p class="card-text"><%= garden.description[0..72] %> ...</p>
              <!--
              <#% garden.reviews.count == 1 ? sg_pl = "review" : sg_pl = "reviews" %>
              <p class="card-text"><%#= garden.avg_rating %> (<%#= garden.reviews.count %> <%#= sg_pl %>)</p>
              -->
              <p class="card-text"><%= 'â­' * (3..5).to_a.sample %></p>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
    </div>

    <div>
      <div id="map"
        style="width: 100%; height: 100vh"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

