<div class="content container">
  <div class='inner-grid'>
    <div>
      <div class="form-inline" style="margin-left: auto;">
        <%= form_tag gardens_path, class: "form-inline", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control m-1",
          placeholder: "Search by location"
          %>
          <%= submit_tag "Search", class: "button m-3" %>
        <% end %>

        <%= link_to "All gardens", gardens_path(@gardens), class: "button m-6" %>

      </div>

      <p style="padding-bottom: 8px;"><%= @msg %></p>
      <% @gardens.each do |garden| %>
        <div class="card mb-3 card-trip">
          <div class="row">
            <div class="col-md-4">
              <%= link_to garden_path(garden) do %>
                <%= cl_image_tag garden.photos.first.key, height: 200, width: 220, crop: :fill %>
              <% end %>
            </div>
            <div class="col-md-8" style="padding: 8px 50px;">
              <h6 style="margin-top: 12px; font-weight: bold;"><%= link_to garden.title, garden_path(garden) %></h6>
              <p class="card-text"><%= garden.avg_rating %> (<%= pluralize garden.reviews.size, "review" %>)</p>
              <p class="card-text"><span style="color: black"> €<%= garden.price %> </span> / day</p>
              <br>
              <p class="card-text"><%= garden.description[0..72] %> ...</p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
    <div>
      <div id="map"
        style="width: 200%; height: 94%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
