<div class="container">
    <div class="col-12">

  <span id="linkback"><%= link_to "Go back to profile", user_path(current_user.first_name) %></span>
  <br>
  <% if @gardens.empty? %>
    <div class="d-flex align-items-center justify-content-center pt-5 mt-5">
      <p class="text-secondary"> You still don't have any gardens</p>
  <% else %>
  
  <div class='mt-4'>
    <% @gardens.each do |garden| %>
      <div class="card-booking d-flex w-100">
        <div>
           <%= link_to garden_path(garden) do %>
            <%= cl_image_tag garden.photos.first.key, height: 280, width: 280, crop: :fill %>
          <% end %>
        </div>

        <div class="card-booking-infos d-flex flex-column w-100 ">
          <div style="padding-left: 8px;">
            <h3><%= link_to garden.title, garden_path(garden) %></h3>
            <p><%= garden.avg_rating %> (<%= pluralize garden.reviews.size, "review" %>)</p>
            <p>Price: <%= garden.price %> €</p>
            <br>
            <p>Address: <%= garden.location %> </p>
            <p><%= garden.description[0..900] %> ...</p>
            <br>
            <div style="display: flex; justify-content: flex-start; padding-top: 8px;">
              <% if policy(garden).edit? %>
                <h6><%= link_to 'Edit', edit_garden_path(garden), class: "button mr-3" %></h6>
              <% end %>
              <% if policy(garden).destroy? %>
                <h6><%= link_to "Delete", garden, class: "button", method: :delete, data: {confirm: "Are you sure?"} %></h6>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div>
      <p><%= link_to "Add Garden", new_garden_path, class: "button" %> </p>
    </div>
  </div>
  <% end %>
  </div>
</div>
