<div class="container" style="padding-top: 72px;">
  <%= link_to "All Gardens", gardens_path, class: "btn btn-outline-success" %>
  <h1 style="padding: 8px 0;"><%= @garden.title %></h1>
  <div class="row justify-content-sm-center" style="padding: 24px 0;">
    <% @garden.photos.each do |photo|%>
      <div class="col-4">
        <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
      </div>
    <% end %>
  </div>

  <p>Owner: <%= link_to @garden.user.first_name %></p> <!-- build this path -->
  <p>Location: <%= @garden.location %></p>
  <p><%= @garden.description %></p>
  <p>Price per day: <%= @garden.price %> €</p>
  <% if @garden.avg_rating == "" %>
    <!-- display nothing or add smtng -->
  <% else %>
    <p>Average rating: <%= @garden.avg_rating %></p>
  <% end %>

  <% if policy(@garden).destroy? %>
    <p><%= link_to "Delete", @garden, method: :delete, data: {confirm: "Are you sure?"} %></p>
  <% end %>

  <% if policy(@garden).edit? %>
    <p><%= link_to 'Edit', edit_garden_path(@garden) %></p>
  <% end %>

  <% if @garden.user != current_user %>
    <p><%= link_to 'Book it', new_garden_booking_path(@garden.id) %></p> <!-- change this => display booking form here! or not? -->
  <% end %>

  <% @garden.bookings.order(created_at: :desc).each do |booking| %>
    <% if booking.review %>
      <h3>REVIEWS:</h3>
      <div class="row" style="border-bottom: 1px solid #ccc;">
        <div class="col-sm-6">
          <strong><%= booking.review.created_at.to_a[3..5].join(". ") %>, <%= booking.user.first_name %>: </strong>
          <p><%= booking.review.content %></p>
        </div>
        <div class="col-sm-6 text-right">
          <p><%= '⭐' * booking.review.rating %></p>
        </div>
    <% end %>
  <% end %>
</div>
