<div class="container">
  <span id="linkback"><%= link_to "Back to garden search", gardens_path(policy_scope(Garden).order(created_at: :desc)) %></span>
  <h1 style="padding: 8px 0;"><%= @garden.title %></h1>
  <div class="row" style="padding: 24px 0;">
    <% @garden.photos.each do |photo|%>
      <div class="col-4">
        <%= cl_image_tag photo.key, height: 300, width: 340, crop: :fill %>
      </div>
    <% end %>
  </div>

<div class="row box">
    <div class="col-8 card-garden" style="padding-top: 10px; font-size: 18px; padding-right: 26px; text-align: left; line-height: 24px;">
      <p>Owner: <%= link_to @garden.user.first_name, user_path(@garden.user.first_name), class: "link-yellow" %></p>
      <p>Location: <%= @garden.location %></p>
      <p><%= @garden.description %></p>
      <p>Price: €<%= @garden.price %> / day</p>
      <% if @garden.avg_rating == "" %>
        <!-- display nothing or add smtng -->
      <% else %>
        <p class="card-text" style="font-size: 18px;"><%= @garden.avg_rating %> (<%= pluralize @garden.reviews.size, "review" %>)</p>
      <% end %>
    </div>

    <% if @garden.user != current_user %>
      <%= render 'gardens/new_booking', garden: @garden, booking: @booking %>
    <% else %>
      <div class="col-4" style="text-align: left;">
        <!-- add smtng here -->
        <p style="text-align: center;">Hello <%= @garden.user.first_name %>!</p>
        <br>
        <% if @garden.bookings.count > 0 %>
          <p>You garden <strong><%= @garden.title %></strong> has been booked <%= pluralize @garden.bookings.size, "time" %>!</p>
        <% end %>
        <br>
        <div style="display:flex; justify-content: center; align-items: center;">
        <% if policy(@garden).edit? %>
          <p><%= link_to 'Edit', edit_garden_path(@garden), class: "button_outline button_outline-text" %></p>
        <% end %>
        <% if policy(@garden).destroy? %>
          <p><%= link_to "Delete", @garden, class: "button_outline button_outline-text", method: :delete, data: {confirm: "Are you sure?"}, remote: true %></p>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% @garden.bookings.order(created_at: :desc).each do |booking| %>
    <% if booking.review %>
      <br>
      <div class="row box">
        <div class="col-6">
          <p style="color: #696969;"><%= "#{booking.review.created_at.strftime("%-d. %B, %Y")}" %>, <%= booking.user.first_name %>: </strong>
          <p><%= booking.review.content %></p>
        </div>
        <div class="col-6 text-right">
          <p><%= '★' * booking.review.rating %>  <i class="far fa-thumbs-up"></i></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
