<!DOCTYPE html>
<html>
  <head>
    <title>Garden2rent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="page-container" style="position: relative; min-height: 100vh;">
      <div id="content-wrap" style="padding-bottom: 2.5rem;">
        <%= render "shared/nav" %>

        <% if flash[:notice] %>
          <p class="alert alert-warning"><%= notice %></p>
        <% end %>

        <%= yield %>
      </div>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
